<b>
	OntID Details
</b>
<div style="margin: 1em">
	{{ontIDDetail.ontID.ontid}}
	<br/>
	{{ontIDDetail.ontID.label}}
	<br/>
	<span style="color:blue;" *ngFor="let role of ontIDDetail.ontID.roles">
		<span style="vertical-align: middle">{{role}}</span>
		<button mat-icon-button>
			<mat-icon style="vertical-align: middle" (click)="onDeleteClicked(role)">backspace</mat-icon>
		</button>
	</span>
	<button mat-icon-button>
		<mat-icon style="vertical-align: middle">add_box</mat-icon>
	</button>
</div>
<div mat-dialog-content>
	<font face="Courier">
		<div>
			{{balance.ONT | currency:'USD':'ont:':'1.0-2'}}
		</div>
		<div>
			{{balance.ONG | currency:'USD':'ong:':'1.0-2'}}
		</div>
	</font>
	<div class="row-reverse">
		<button title="transfer from this account" mat-icon-button (click)="onTransferFromClicked()">
			<mat-icon>launch</mat-icon>
		</button>
		<button title="transfer to this account" mat-icon-button (click)="onTransferToClicked()">
			<mat-icon>input</mat-icon>
		</button>
	</div>
</div>
