<div fxfill="" fxlayout="column" style="height: 100%; margin: 0px; min-height: 100%; min-width: 100%; width: 100%; flex-direction: column; box-sizing: border-box; display: flex;">
	<div fxflex="" fxlayout="" style="flex: 1 1 auto; box-sizing: border-box; flex-direction: row; display: flex;">
		<div fxflex="20" fxlayoutalign="center center" style="flex: 1 1 100%; box-sizing: border-box; align-items: center; flex-direction: row; display: flex; max-width: 20%;">
			{{account.label}}
		</div>
		<div fxflex="40" fxlayoutalign="center center" style="flex: 1 1 100%; box-sizing: border-box; align-items: center; flex-direction: row; display: flex; max-width: 80%;">
			{{account.address}}
		</div>

		<div fxflex="40" fxlayoutalign="center center" style="flex: 1 1 100%; box-sizing: border-box; align-items: center; flex-direction: row; display: flex; max-width: 80%;">
			<button mat-button>
				Details
			</button>
			<button mat-button>
				Transfer
			</button>
			<button mat-button>
				Ban
			</button>
		</div>
	</div>
</div>