<mat-expansion-panel [expanded]="ontIDFormExpanded">
	<mat-expansion-panel-header>
		<mat-panel-title>
			{{contract.name}}
		</mat-panel-title>
		<mat-panel-description>
			{{contract.version}}
			&nbsp;&nbsp;
			{{contract.author}}&lt;{{contract.email}}&gt;
		</mat-panel-description>
	</mat-expansion-panel-header>
	<div
		*ngIf="error"
		class="alert alert-danger">
		{{error}}
	</div>
	<mat-accordion>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					Information
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				name: {{contract.name}}
				<br/>
				version: {{contract.version}}
				<br/>
				description: {{contract.description}}
				<br/>
				author: {{contract.author}}
				<br/>
				email: <a href="mailto:{{contract.email}}?subject=About%20contract%20{{contract.name}}">{{contract.email}}</a>
			</div>
			<div>
				Script
				<textarea
					readonly
					style="resize: vertical"
					rows="5"
					class="form-control"
				>{{contract.script}}</textarea>
			</div>
			<div>
				ABI
				<textarea
					readonly
					style="resize: vertical"
					rows="5"
					class="form-control"
				>{{contract.abi | json}}</textarea>
			</div>
		</mat-expansion-panel>
		<mat-expansion-panel *ngIf="contract.adminOntID; else initAdmin">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Authority
				</mat-panel-title>
			</mat-expansion-panel-header>
			<div>
				Roles
				<div style="margin: 1em;">
					<div *ngFor="let roleInfo of contract.roles" style="background-color: lightcyan">
						<b style="color: blue">
							{{roleInfo.role}}
						</b>
						<div style="margin: 1em;">
							<div *ngFor="let ontid of roleInfo.ontids">
								{{ontid}}
							</div>
							<div style="background-color: lightblue;">
								<div style="margin: 1em">
									<label>Add Ontology DID to Role</label>
									<form #addOntIDToRoleForm="ngForm" (submit)="onSubmitAddOntIDToRole(roleInfo.role)">
										<input
											id="addOntIDToRole_ontid"
											name="addOntIDToRole_ontid"
											[(ngModel)]="ontIDToAdd[roleInfo.role]"
										/>
										<button
											mat-icon-button
											type="submit"
											[disabled]="!ontIDToAdd[roleInfo.role]"
										>
											<mat-icon>add_box</mat-icon>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div style="background-color: lightcyan">
						<label>Add Role</label>
						<form #addRoleForm="ngForm" (submit)="onSubmitAddRole()">
							<input
								id="addRole_role"
								name="addRole_role"
								[(ngModel)]="roleToAdd"
								placeholder="role name"
							/>
							<button
								mat-icon-button
								type="submit"
								[disabled]="!roleToAdd"
								>
								<mat-icon>add_box</mat-icon>
							</button>
						</form>
					</div>

				</div>
			</div>
			<div>
				Methods
				<div style="margin: 1em;">
					<div *ngFor="let method of contract.methods">
						<b style="color: blue">
							{{method.name}}
						</b>
						roles:
						<select>
							<option value="">--- SELECT ROLE ---</option>
							<option *ngFor="let roleInfo of contract.roles" [ngValue]="roleInfo.role">{{roleInfo.role}}</option>
						</select>
						<button mat-icon-button>
							<mat-icon>add_box</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-expansion-panel>
		<ng-template #initAdmin>
			<form #initAdminForm="ngForm" style="margin-top: 1em" (submit)="onSubmitInitAdmin()">
				<b>
					Init Admin
				</b>
				<label>Ontology DID</label>
				<select
					name="initAdmin_ontid"
					id="initAdmin_ontid"
					class="form-control"
					required
					[(ngModel)]="adminOntIDToInit"
					>
					<option value="">--- SELECT ADMIN OntID ---</option>
					<option *ngFor="let ontID of adminOntIDs" [ngValue]="ontID.ontid">
						{{ontID.ontid}} (label: {{ontID.label}})
					</option>
				</select>
				<label>Password</label>
				<input
					name="initAdmin_password"
					id="initAdmin_password"
					class="form-control"
					type="password"
					[(ngModel)]="adminOntIDPassword"
					required/>
				<div class="row-reverse">
					<button
						mat-button
						type="submit"
						class="btn btn-success"
						[disabled]="!initAdminForm.valid"
						>
						Initialize
					</button>
				</div>
			</form>
		</ng-template>
	</mat-accordion>
</mat-expansion-panel>