<div style="padding: 1em">
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>
				Deploy Contract
			</mat-panel-title>
		</mat-expansion-panel-header>

		<form #deployContract="ngForm" (ngSubmit)="onDeploy()">
			<div class="form-group">
				<label for="ontid">Admin Ontology DID</label>
				<select
					name="adminOntID"
					id="adminOntID"
					[(ngModel)]="deployStatus.ontid"
					class="form-control"
					required
					>
					<option value="">--- SELECT OPERATE ADMIN ---</option>
					<option *ngFor="let ontID of adminOntIDs" [ngValue]="ontID.ontid">
						{{ontID.ontid}} (label: {{ontID.label}})
					</option>
				</select>
				<label for="password">Password:</label>
				<input
					id="password"
					name="password"
					class="form-control"
					type="password"
					[(ngModel)]="deployStatus.password"
					required/>
			</div>
			<div class="form-group">
				<label for="contract">Contract file:</label>
				<input
					id="contract"
					name="contract"
					type="file"
					accept=".avm"
					class="form-control"
					[(ngModel)]="deployStatus.contractFile"
					(change)="onContractFileChanged($event.target.files)"
				/>
				<label for="contractHash">Hash:</label>
				<input
					id="contract_hash"
					name="contract_hash"
					type="text"
					class="form-control"
					readonly
					[ngModel]="deployStatus.contractHash"
				/>
				<mat-expansion-panel *ngIf="deployStatus.contractContent">
					<mat-expansion-panel-header>
						<mat-panel-title>
							Byte code:
						</mat-panel-title>
					</mat-expansion-panel-header>
					<textarea
						readonly
						style="resize: vertical"
						rows="5"
						class="form-control">{{deployStatus.contractContent}}</textarea>
				</mat-expansion-panel>
				<label for="contract_abi">ABI file:</label>
				<input
					id="contract_abi"
					name="contract_abi"
					type="file"
					accept=".abi.json"
					class="form-control"
					[(ngModel)]="deployStatus.contractABIFile"
					(change)="onABIFileChanged($event.target.files)"
				/>
				<div *ngIf="deployStatus.contractABIContent">

					<mat-expansion-panel>
						<mat-expansion-panel-header>
							<mat-panel-title>
								ABI:
							</mat-panel-title>
						</mat-expansion-panel-header>
						<textarea
							readonly
							style="resize: vertical"
							rows="5"
							class="form-control">{{deployStatus.contractABIContent | json}}</textarea>
					</mat-expansion-panel>
				</div>
				<div class="alert alert-danger" *ngIf="hashError">
					HASH of contract is not the same as one in ABI.
				</div>
				<label for="contract_name">Name:</label>
				<input
					id="contract_name"
					name="contract_name"
					type="text"
					class="form-control"
					placeholder="Contract Name"
					[(ngModel)]="deployStatus.contractName"
					required/>
				<label for="contract_name">Version:</label>
				<input
					id="contract_version"
					name="contract_version"
					type="text"
					class="form-control"
					placeholder="1.0.0"
					[(ngModel)]="deployStatus.contractVersion"
					required/>
				<label for="contract_author">Author:</label>
				<input
					id="contract_author"
					name="contract_author"
					type="text"
					class="form-control"
					placeholder="Author"
					[(ngModel)]="deployStatus.contractAuthor"
					required/>
				<label for="contract_email">Email:</label>
				<input
					id="contract_email"
					name="contract_email"
					type="email"
					class="form-control"
					placeholder="example@email.com"
					[(ngModel)]="deployStatus.contractEmail"
					required/>
				<label for="contract_desc">Description:</label>
				<input
					id="contract_desc"
					name="contract_desc"
					type="text"
					class="form-control"
					placeholder="description of this contract"
					[(ngModel)]="deployStatus.contractDesc"
					required/>
				<div>
					<mat-checkbox
						id="contract_storage"
						name="contract_storage"
						[(ngModel)]="deployStatus.contractStorage"
					>
						Need storage
					</mat-checkbox>
				</div>
				<div>
					<mat-checkbox
						name="contract_initadmin"
						id="contract_initadmin"
						[(ngModel)]="deployStatus.initAdmin"
					>
						Init Admin
					</mat-checkbox>
				</div>
			</div>

			<div class="form-group">
				<mat-checkbox
					id="contract_migrate"
					name="contract_migrate"
					[(ngModel)]="deployStatus.migrate"
				>
					Migrate
				</mat-checkbox>
				<div class="form-group" *ngIf="deployStatus.migrate">
					<label for="contract_to_migrate">Contract:</label>
					<select
						name="contract_to_migrate"
						id="contract_to_migrate"
						class="form-control"
						[(ngModel)]="deployStatus.contractToMigrate">
						<option value="">--- SELECT A CONTRACT ---</option>
					</select>
					<div *ngIf="deployStatus.contractToMigrate">

					</div>
				</div>
			</div>

			<div style="flex-direction: row-reverse; display: flex;">
				<button
					mat-button
					class="btn btn-success"
					[disabled]="!deployContract.valid"
					>
					Deploy
				</button>
			</div>
			<div class="alert alert-danger" *ngIf="error">
				{{error}}
			</div>
		</form>
	</mat-expansion-panel>
	<h4>Contracts</h4>
	<mat-accordion>
		<app-contractentry *ngFor="let contract of contracts; let i = index"
			[contract]="contract"
			[adminOntIDs]="adminOntIDs"
			[allOntIDs]="allOntIDs"
			[entryIndex]="i"
			>
		</app-contractentry>
	</mat-accordion>
</div>