<div style="padding: 1em">
	<app-accountform [accountResultDelegate]="getAccountResultDelegate()"></app-accountform>
	<hr/>
	<div style="align-items: flex-end; flex-direction: row-reverse; display: flex;">
		<form #search="ngForm" (submit)="onSubmitSearchContent()">
			<input
				id="content"
				name="content"
				type="text"
				placeholder="label or address"
				[(ngModel)]="searchContent"
				(blur)="onSubmitSearchContent()"
				>
			<button
				mat-icon-button
				type="submit"
				>
				<mat-icon>search</mat-icon>
			</button>
		</form>
	</div>
	<div>
		<div
			*ngIf="error; else listAccount"
			class="alert alert-danger"
			>
			{{error}}
			<button mat-icon-button (click)="onRefreshAccountList()">
				<mat-icon>refresh</mat-icon>
			</button>
		</div>
		<ng-template #listAccount>
			<app-accountentry *ngFor="let account of accounts; let i = index"
				[account]="account"
				[entryIndex]="i"
				[showDetailsDelegate]="showAccountDetails"
				>
			</app-accountentry>
		</ng-template>
		<hr/>
		<div
			*ngIf="!error"
			fxfill=""
			fxlayout="column"
			style="height: 100%; margin: 0px; min-height: 100%; min-width: 100%; width: 100%; flex-direction: column; box-sizing: border-box; display: flex;">
			<div fxflex="" fxlayout="" style="flex: 1 1 auto; box-sizing: border-box; flex-direction: row; display: flex;">
				<div
					*ngIf="cursor.before"
					fxflex="50" fxlayoutalign="center center" style="flex: 1 1 100%; box-sizing: border-box; align-items: center; flex-direction: row; display: flex; max-width: 50%; place-content: center">
					<button mat-button (click)="onPrev()">
						&lt;&lt; PREV
					</button>
				</div>
				<div
					*ngIf="cursor.after"
					fxflex="50" fxlayoutalign="center center" style="flex: 1 1 100%; box-sizing: border-box; align-items: center; flex-direction: row; display: flex; max-width: 50%; place-content: center">
					<button mat-button (click)="onNext()">
						NEXT &gt;&gt;
					</button>
				</div>
			</div>
		</div>

	</div>
</div>