<ng-template #importOrCreateOntID>
	<mat-tab-group
		(selectedIndexChange)="onSelectedIndexChanged($event)"
	>
		<mat-tab label="KeyStore">
			<label>KeyStore:</label>
			<textarea
				rows="5"
				class="form-control"
				required
				[(ngModel)]="newOntID.keyStore"
			>
			</textarea>
			<label>Password:</label>
			<input
				id="keystore-password"
				name="keystore-password"
				type="password"
				required
				class="form-control"
				[(ngModel)]="newOntID.password"
			/>
		</mat-tab>
		<mat-tab label="Create New">
			<label>Label:</label>
			<input
				id="label"
				name="label"
				type="text"
				class="form-control"
				[(ngModel)]="newOntID.label"
				required
			/>
			<label>Password:</label>
			<input
				id="password"
				name="password"
				type="password"
				class="form-control"
				[(ngModel)]="newOntID.password"
				required
				/>
			<label>Confirm Password:</label>
			<input
				id="rePassword"
				name="rePassword"
				type="password"
				class="form-control"
				[(ngModel)]="newOntID.rePassword"
				required
			/>
		</mat-tab>
	</mat-tab-group>
	<label>Role:</label>
	<select
		name="ontID_role"
		id="ontID_role"
		class="form-control"
		[(ngModel)]="newOntID.role"
		required
		>
		<option value="">--- SELECT ROLE ---</option>
		<option
			*ngFor="let role of roles"
			[ngValue]="role.value"
		>
			{{role.viewValue}}
		</option>
	</select>
</ng-template>

<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Import or Create OntID
		</mat-panel-title>
	</mat-expansion-panel-header>
	<div class="alert alert-danger" *ngIf="!rootAccount; else manageOntID">
		Root Account is needed
	</div>
	<ng-template #manageOntID>
		<form #formOntID="ngForm" (submit)="onSubmit()">
			<fieldset [disabled]="isSubmitting">
				<div>
					<label>Root Account:</label>
					<input
						class="form-control"
						readonly
						value="{{rootAccount.address}}"
					/>
					<label>Root Account Password:</label>
					<input
						id="root_password"
						name="root_password"
						type="password"
						class="form-control"
						[(ngModel)]="rootPassword"
						required
					/>
				</div>
				<ng-container *ngTemplateOutlet="importOrCreateOntID"></ng-container>
				<div
					*ngIf="error"
					class="alert alert-danger"
				>
					{{error}}
				</div>
				<div class="row-reverse">
					<button
						type="submit"
						class="btn btn-success"
						[disabled]="!formOntID.valid"
					>
						Submit
					</button>
				</div>
			</fieldset>
		</form>
	</ng-template>
</mat-expansion-panel>
