<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport="true"
		[attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
		[mode]="(isHandset$ | async) ? 'over' : 'side'"
		[opened]="!(isHandset$ | async)">
		<mat-toolbar>Menu</mat-toolbar>
		<mat-nav-list>
			<a mat-list-item href="#" *ngFor="let key of navItemKeys()" (click)="this.changeViewingItem(key)">
				{{ navItems[key].title }}
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar color="primary">
		  <button
			type="button"
			aria-label="Toggle sidenav"
			mat-icon-button
			(click)="drawer.toggle()">
			<span *ngIf="drawer.opened; else openSideNav">
				&lt;
			</span>
			<ng-template #openSideNav>
				&gt;
			</ng-template>
		  </button>
		  <div #componentName></div>
		</mat-toolbar>
		<div #componentContainer></div>
	</mat-sidenav-content>
</mat-sidenav-container>
