
<ng-template #importAccountCommonFields>
	<div class="form-group">
		<label for="label">Label:</label>
		<input
			id="label"
			type="text"
			class="form-control"
			required
			name="label"
			[(ngModel)]="importAccount.label"
			placeholder="account label"
		/>
		<label for="password">Password:</label>
		<input
			id="password"
			type="password"
			class="form-control"
			required
			name="password"
			[(ngModel)]="importAccount.password"
			placeholder="password"
		/>
		<label for="rePassword">Confirm Password:</label>
		<input
			id="rePassword"
			type="password"
			class="form-control"
			required
			name="rePassword"
			[(ngModel)]="importAccount.rePassword"
			placeholder="confirm password"
		/>
		<div
			[hidden]="importAccount.password === importAccount.rePassword"
			class="alert alert-danger"
			>
			Password are not the same!
		</div>
	</div>
</ng-template>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Import or create account
		</mat-panel-title>
		<mat-panel-description *ngIf="showResultMessage">
			<span *ngIf="!error">
				<font color="green">
					SUCCESS
				</font>
			</span>
			<span class="alert alert-danger" *ngIf="error">
				FAILED: {{error}}
			</span>
		</mat-panel-description>
	</mat-expansion-panel-header>
	<mat-tab-group>
		<mat-tab label="Mnemonic">
			<form #byMnemonic="ngForm" (ngSubmit)="onSubmitWithMnemonic()">
				<div class="form-group">
					<label for="mnemonic">Mnemonic</label>
					<input
						id="mnemonic"
						type="text"
						class="form-control"
						required
						name="mnemonic"
						[(ngModel)]="importAccount.mnemonic"
						placeholder="mnemonic separated by space"
					/>
				</div>
				<ng-container *ngTemplateOutlet="importAccountCommonFields"></ng-container>
				<button
					[disabled]="!byMnemonic.valid || importAccount.password !== importAccount.rePassword"
					type="submit" class="btn btn-success">Import</button>
				<div class="alert alert-warning">
					<b>
						if your password is not correct, it will import a wrong address.
					</b>
				</div>
			</form>
		</mat-tab>
		<mat-tab label="WIF">
			<form #byWIF="ngForm" (ngSubmit)="onSubmitWithWIF()">
				<div class="form-group">
					<label for="mnemonic">WIF</label>
					<input
						id="wif"
						type="text"
						class="form-control"
						required
						name="wif"
						[(ngModel)]="importAccount.wif"
						placeholder="52-characters WIF text"
					/>
				</div>
				<ng-container *ngTemplateOutlet="importAccountCommonFields"></ng-container>
				<button
					[disabled]="!byWIF.valid || importAccount.password !== importAccount.rePassword"
					type="submit" class="btn btn-success">Import</button>
				<div class="alert alert-warning">
					<b>
						if your password is not correct, it will import a wrong address.
					</b>
				</div>
			</form>
		</mat-tab>
		<mat-tab label="Create New">
			<form #createNew="ngForm" (ngSubmit)="onSubmitToCreate()">
				<ng-container *ngTemplateOutlet="importAccountCommonFields"></ng-container>
				<button
					[disabled]="!createNew.valid || importAccount.password.length == 0 || importAccount.password !== importAccount.rePassword"
					type="submit" class="btn btn-success">Create</button>
			</form>
		</mat-tab>
	</mat-tab-group>
</mat-expansion-panel>
