
<ng-template #importAccountCommonFields>
	<div class="form-group">
		<label for="label">Label:</label>
		<input
			id="label"
			type="text"
			class="form-control"
			required
			name="label"
			[(ngModel)]="importAccount.label"
			placeholder="account label"
		/>
		<label for="password">Password:</label>
		<input
			id="password"
			type="password"
			class="form-control"
			required
			name="password"
			[(ngModel)]="importAccount.password"
			placeholder="password"
		/>
		<label for="rePassword">Confirm Password:</label>
		<input
			id="rePassword"
			type="password"
			class="form-control"
			required
			name="rePassword"
			[(ngModel)]="importAccount.rePassword"
			placeholder="confirm password"
		/>
	</div>
	<button type="submit" class="btn btn-success">Create</button>
</ng-template>
<mat-expansion-panel>
	<mat-expansion-panel-header>
		<mat-panel-title>
			Import account
		</mat-panel-title>
	</mat-expansion-panel-header>
	<mat-tab-group>
		<mat-tab label="Mnemonic">
			<form #byMnemonic="ngForm" (ngSubmit)="onSubmitWithMnemonic()">
				<div class="form-group">
					<label for="mnemonic">Mnemonic</label>
					<input
						id="mnemonic"
						type="text"
						class="form-control"
						required
						name="mnemonic"
						[(ngModel)]="importAccount.mnemonic"
						placeholder="mnemonic separated by space"
					/>
				</div>
				<ng-container *ngTemplateOutlet="importAccountCommonFields"></ng-container>
			</form>
		</mat-tab>
		<mat-tab label="WIF">
			<div class="form-group">
				<label for="mnemonic">WIF</label>
				<input
					id="wif"
					type="text"
					class="form-control"
					required
					name="wif"
					[(ngModel)]="importAccount.wif"
					placeholder="52-characters WIF text"
				/>
			</div>
			<form #byWIF="ngForm" (ngSubmit)="onSubmitWithWIF">
				<ng-container *ngTemplateOutlet="importAccountCommonFields"></ng-container>
			</form>
		</mat-tab>
	</mat-tab-group>
</mat-expansion-panel>
