<b>
	Account Details
</b>
<u>{{accountDetail.account.address}}</u>
<div class="alert alert-danger" *ngIf="error">
	<button
		mat-icon-button
		(click)="refresh()"
	>
		<mat-icon>refresh</mat-icon>
	</button> {{error}}
</div>
<div mat-dialog-content>
	<font face="Courier">
		<div>
			{{balance.ONT | currency:'USD':'ont:':'1.0-2'}}
		</div>
		<div>
			{{balance.ONG | currency:'USD':'ong:':'1.0-2'}}
		</div>
	</font>
	<div style="display: flex; flex-direction: row-reverse">
		<!-- more -->
		<button mat-icon-button>
			<mat-icon>more</mat-icon>
		</button>
		<!-- block -->
		<button title="ban account" mat-icon-button (click)="onBanClicked()" *ngIf="!accountDetail.account.banned; else unband">
			<mat-icon>block</mat-icon>
		</button>
		<ng-template #unban>
			<button title="unban account" mat-icon-button (click)="onUnbanClicked()">
				<mat-icon style="color: red">
					block
				</mat-icon>
			</button>
		</ng-template>
		<!-- transfer from -->
		<button title="transfer from this account" mat-icon-button>
			<mat-icon>launch</mat-icon>
		</button>
		<!-- transfer to -->
		<button title="transfer to this account" mat-icon-button>
			<mat-icon>input</mat-icon>
		</button>
	</div>
</div>
