<b>
	Account Details
	<mat-icon *ngIf="accountDetail.account.role === 'root'; else setAsRootAccount">
		<mat-icon>account_box</mat-icon>
	</mat-icon>
	<ng-template #setAsRootAccount>
		<button title="set as root account" mat-icon-button (click)="toggleChangingRootAccount()">
			<mat-icon>account_box</mat-icon>
		</button>
	</ng-template>
</b>
<div>
	{{accountDetail.account.address}}
	<div style="background-color: lightcyan;" *ngIf="changingRootAccount">
		<form #formSetAsRootAccount="ngForm" style="margin: 1em" (ngSubmit)="onSetRootAccount()">
			<label for="password">Password:</label>
			<input
				id="password"
				name="password"
				type="password"
				class="form-control"
				required
				[(ngModel)]="changingData.password"
			/>
			<div *ngIf="changingData.curRootAccount.address">
				<label>Current Root Account:</label>
				<div>
					{{changingData.curRootAccount.label}}
				</div>
				<div>
					{{changingData.curRootAccount.address}}
				</div>
				<label for="cur_root_password">Current Root Password:</label>
				<input
					id="cur_root_password"
					name="cur_root_password"
					type="password"
					placeholder="Password"
					class="form-control"
					[(ngModel)]="changingData.curRootAccount.password"
					required
				/>
			</div>
			<div class="row-reverse">
				<button mat-button
					type="submit"
					class="btn btn-success"
					[disabled]="!formSetAsRootAccount.valid"
				>
					Confirm
				</button>
				<button mat-button (click)="stopChangingRootAccount()">Cancel</button>
			</div>
		</form>
		<hr/>
	</div>
</div>
<div class="alert alert-danger" *ngIf="error">
	<button
		mat-icon-button
		(click)="refresh()"
	>
		<mat-icon>refresh</mat-icon>
	</button> {{error}}
</div>
<div mat-dialog-content>
	<font face="Courier">
		<div>
			{{balance.ONT | currency:'USD':'ont:':'1.0-2'}}
		</div>
		<div>
			{{balance.ONG | currency:'USD':'ong:':'1.0-2'}}
		</div>
	</font>
	<div style="display: flex; flex-direction: row-reverse">
		<!-- more -->
		<button mat-icon-button>
			<mat-icon>more</mat-icon>
		</button>
		<!-- block -->
		<button title="ban account" mat-icon-button (click)="onBanClicked()" *ngIf="!accountDetail.account.banned; else unband">
			<mat-icon>block</mat-icon>
		</button>
		<ng-template #unban>
			<button title="unban account" mat-icon-button (click)="onUnbanClicked()">
				<mat-icon style="color: red">
					block
				</mat-icon>
			</button>
		</ng-template>
		<!-- transfer from -->
		<button title="transfer from this account" mat-icon-button (click)="onTransferFromClicked()">
			<mat-icon>launch</mat-icon>
		</button>
		<!-- transfer to -->
		<button title="transfer to this account" mat-icon-button (click)="onTransferToClicked()">
			<mat-icon>input</mat-icon>
		</button>
	</div>
</div>
